@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "FURORE";
  src: url("/fonts/Furore.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.font-furore {
  font-family: "FURORE", sans-serif;
}

input {
  margin-top: 0.4rem;
}

input + p,
select + p {
  color: #7f1d1d;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale-up {
  animation: scaleUp 3s ease-in-out infinite;
}

.heading-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.heading {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  animation: rotateHeadings 9s infinite;
}
.heading:nth-child(1) {
  animation-delay: 0s;
}
.heading:nth-child(2) {
  animation-delay: 3s;
}
.heading:nth-child(3) {
  animation-delay: 6s;
}

@keyframes rotateHeadings {
  10% {
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
